
# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Node
node_modules/
dist/
build/
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
